.first-image {
    display: grid;
    grid-template-columns: 1fr;
}

.first-image img {
    width: 100%;
    height: auto;
    border-bottom: 5px solid yellow;
}

h1 {
    background-color: blue;
    border-bottom: 15px solid yellow;
    text-align: center;
    padding: 1rem;
    color: white;
    font-weight: 900;
    margin-bottom: 0rem;
    margin-top: 0rem;
}

.data{
    display: grid;
    justify-content: center;
    background-color: #bbbbbb9f;
    margin-top: -.3rem;
}

.data h2 {
    text-align: center;
}

.data-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: .5rem;
    padding: 0rem 1rem;
}

.weather {
    display: grid;
    width: 100%;
    height: auto;
    justify-content: center;
    background-color: #bbbbbb9f;
    border-top: 2px solid rgba(167, 167, 151, 0.219);
}

.weather h2 {
    text-align: center;
}

.weather h2::after {
    content: url('../images/Weather_icon.svg');
    display: block;
    width: 60px;
    margin: 10px auto 0;
}

.weather-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: .5rem;
    padding: 0rem 1rem;
}
label {
    min-width: 120px;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}

span {
    text-align: left;
}

footer {
    background-color: blue;
    padding: .5rem;
}

footer p {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0rem;
    color: white;
    padding-bottom: .5rem;
}

#lastModified {
    margin-top: 0rem;
}


