header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    background-color: #1a1a48;
    color: white;
    position: fixed;  /* Fixes the header to the top of the viewport */
    top: 0;          /* Positions it at the very top */
    overflow: hidden;
    width: 100%;      /* Makes the header take up the full width */
    z-index: 1000;    /* Ensures it stays above other content */
}

main{
    margin-top: 100px;
}