.hero {
    display: grid;
    grid-template-columns: 1fr;
}

.hero img {
    width: 100%;
    height: auto;
    border-bottom: 5px solid green;
}

h1 {
    background-color: green;
    border-bottom: 15px solid white;
    text-align: center;
    padding: 1rem;
    color: white;
    font-weight: 900;
    margin: 0;
}

.data {
    display: grid;
    justify-content: center;
    background-color: #bbbbbb9f;
    margin-top: -.3rem;
}

.data h2 {
    text-align: center;
}

.data-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: .5rem;
    padding: 0rem 1rem;
}

.weather {
    display: grid;
    justify-content: center;
    background-color: #bbbbbb9f;
    border-top: 2px solid rgba(167, 167, 151, 0.219);
}

.weather h2 {
    text-align: center;
}

.weather-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: .5rem;
    padding: 0rem 1rem;
}

.weather-icon {
    width: 60px;
    margin: 10px auto;
}

label {
    min-width: 120px;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}

span {
    text-align: left;
}

footer {
    background-color: green;
    padding: .5rem;
}

footer p {
    text-align: center;
    margin: 1rem 0 0;
    color: white;
}
