* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 17px;
    background-color: rgb(218, 216, 219);
    /* font-family: "Roboto", sans-serif;
    font-weight:   100;
    font-style: normal; */
}
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #121213;
    color: white;
}

nav {
    display: none; /* Hide the nav links by default on small screens */
    flex-direction: column;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: rgb(184, 127, 28);
}

.hamburger {
    display: block; /* Show the hamburger button on mobile */
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: white;   
}

/* Display the nav when the 'show' class is added */
nav.show {
    display: flex;
}

h2 {
    text-align: center;
    margin-top: 30px;
}

.display {
    display: grid;
    grid-template-columns: 1fr; /* One column by default for mobile view */
    gap: 1rem;
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
}

figure {
    margin: 0;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
}

footer {
    text-align: center;
    background-color: rgb(43, 43, 45);
    color: #fff;
    font-size: 16px;
}
